cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
google
glitch-this
gtts
humanize
justwatch
lottie
qrcode
git+https://github.com/Phyco-Ninja/spotify-downloader
tracemoepy==4.1
validators
geopy
prettytable
newspaper3k
pydub
pyfiglet