cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
Google-Images-Search==1.3.0
google
glitch-this
gtts
humanize
justwatch
lottie
qrcode
spotdl
git+https://github.com/code-rgb/tracemoepy
validators
geopy
prettytable
